In [24]:
import pandas as pd
import os
import numpy as np


order_products_edit = pd.read_csv("./Resources/orders_products.csv")
order_products = pd.DataFrame(order_products_edit)
order_products["trash"] = order_products["q_left"].where(order_products["q_left"] <= 1 , np.random.randint(0, 5, len(order_products)))
# order_products.to_csv(r'Resources\order_products_df.csv', index = False)
order_products.head(50)

    order_id  product_id  quantity  q_left  trash
0          2       33120         1       1      1
1          2       28985         2       2      0
2          2        9327         3       3      1
3          2       45918         4       4      0
4          2       30035         5       5      3
5          2       17794         6       6      4
6          2       40141         7       7      2
7          2        1819         8       8      4
8          2       43668         9       9      0
9          3       33754         1       1      1
10         3       24838         2       2      2
11         3       17704         3       3      2
12         3       21903         4       4      1
13         3       17668         5       5      0
14         3       46667         6       6      3
15         3       17461         7       7      3
16         3       32665         8       8      0
17         4       46842         1       1      1
18         4       26434         2       2      0
19         4       39758         3       3      4
20         4       27761         4       4      0
21         4       10054         5       5      0
22         4       21351         6       6      1
23         4       22598         7       7      3
24         4       34862         8       8      3
25         4       40285         9       9      3
26         4       17616        10      10      0
27         4       25146        11      11      0
28         4       32645        12      12      3
29         4       41276        13      13      4
30         5       13176         1       1      1
31         5       15005         2       2      2
32         5       47329         3       3      3
33         5       27966         4       4      2
34         5       23909         5       5      0
35         5       48370         6       6      4
36         5       13245         7       7      3
37         5        9633         8       8      0
38         5       27360         9       9      3
39         5        6348        10      10      2
40         5       40878        11      11      2
41         5        6184        12      12      4
42         5       48002        13      13      1
43         5       20914        14      14      4
44         5       37011        15      15      0
45         5       12962        16      16      4
46         5       45698        17      17      3
47         5       24773        18      18      4
48         5       18569        19      19      2
49         5       41176        20      20      4